.cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.43;
  color: #29303b;
  background-color: #fff;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  font-size: 24px;
  color: #007791;
  background-color: #fff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
          box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
  position: absolute;
  top: 35%;
}

.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover {
  background: linear-gradient(-45deg, #e73838, #6e1a52);
  color: #fff;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -3%;
}

.owl-carousel .owl-nav button.owl-next {
  right: -3%;
}

.owl-carousel .owl-nav button:focus {
  outline: none;
}

.owl-carousel .owl-dots button:focus {
  outline: none !important;
}

.myNavBar {
  -webkit-box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
          box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

.myNavBar .myNavBar__col {
  padding-left: 0;
}

.myNavBar .myNavBar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myNavBar .myNavBar__left .navbar-brand {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  margin-right: 0;
}

.myNavBar .myNavBar__left .navbar-brand img {
  width: 110px;
}

.myNavBar .myNavBar__left .navbar-brand .logo-black {
  display: inline-block;
}

.myNavBar .myNavBar__left .navbar-brand .logo-white {
  display: none;
}

.myNavBar .myNavBar__left .myNavBar__categories {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  color: #505763;
  font-size: 13px;
  font-weight: normal;
  cursor: pointer;
}

.myNavBar .myNavBar__left .myNavBar__categories i {
  color: #a1a7b3;
}

.myNavBar .myNavBar__left .myNavBar__form-search {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group {
  background-color: #f2f3f5;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control {
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control::-webkit-input-placeholder {
  color: #505763;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:-ms-input-placeholder {
  color: #505763;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control::-ms-input-placeholder {
  color: #505763;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control::placeholder {
  color: #505763;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus {
  background-color: #fff;
  border-top-color: #dedfe0;
  border-bottom-color: #dedfe0;
  border-left-color: #dedfe0;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-append .input-group-text {
  background-color: #fff;
  border-top-color: #dedfe0;
  border-bottom-color: #dedfe0;
  border-right-color: #dedfe0;
  color: #e73838;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #e73838;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-append .input-group-text {
  background-color: transparent;
  border-color: transparent;
  color: #e73838;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #e73838;
  border-radius: 0;
}

.myNavBar .myNavBar__right .navbar-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myNavBar .myNavBar__right .navbar-nav .nav-item {
  padding: 7px 5px;
  border-radius: 3px;
  position: relative;
}

.myNavBar .myNavBar__right .navbar-nav .nav-item .nav-link {
  color: #505763;
  font-size: 13px;
  font-weight: normal;
}

.myNavBar .myNavBar__right .navbar-nav .nav-item:hover {
  background-color: rgba(20, 23, 28, 0.05);
}

.myNavBar .myNavBar__right .navbar-nav .nav-item:hover .overlay {
  display: block;
  z-index: 1;
}

.myNavBar .myNavBar__right .navbar-nav .nav-item .overlay {
  display: none;
  background-color: #fff;
  width: 330px;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 60px;
  right: 0;
  border-top: 1px solid rgba(20, 23, 28, 0.05);
  -webkit-box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
          box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
}

.myNavBar .myNavBar__right .navbar-nav .nav-item .overlay::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  display: block;
  border-top: 1px solid rgba(20, 23, 28, 0.05);
  border-left: 1px solid rgba(20, 23, 28, 0.05);
  position: absolute;
  top: -8px;
  right: 10%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.myNavBar .myNavBar__right .navbar-nav .myNavBar__cart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 20px;
}

.myNavBar .myNavBar__right .navbar-nav .myNavBar__cart .nav-link {
  font-size: 20px;
}

.myNavBar .myNavBar__right .navbar-nav .myNavBar__cart .nav-link i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-52%, -50%);
          transform: translate(-52%, -50%);
}

.myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons:hover {
  background-color: transparent;
}

.myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons .button--white {
  margin-right: 5px;
}

.myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons .button {
  white-space: nowrap;
}

@media screen and (min-width: 1200px) and (max-width: 1355px) {
  .myNavBar .myNavBar__right .navbar-nav .nav-item {
    white-space: nowrap;
    text-align: center;
  }
  .myNavBar .myNavBar__right .navbar-nav .nav-item .nav-link {
    font-size: 12px;
  }
  .myNavBar .myNavBar__right .navbar-nav .nav-item .overlay {
    white-space: normal;
  }
  .myNavBar .myNavBar--reset {
    padding-left: 0;
  }
}

@media screen and (max-width: 1200px) {
  .myNavBar .business,
  .myNavBar .instructor {
    display: none;
  }
  .myNavBar .myNavBar__right .navbar-nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .myNavBar {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .myNavBar .myNavBar__left .myNavBar__categories,
  .myNavBar .myNavBar__left .myNavBar__form-search {
    display: none;
  }
  .myNavBar .myNavBar__right {
    width: 50%;
    margin-right: 0 !important;
    margin-left: auto;
  }
  .myNavBar .myNavBar__right .navbar-nav {
    text-align: center;
  }
  .myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons {
    display: none;
  }
}

footer {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}

footer .footer__top {
  width: 90%;
  margin: 40px auto;
}

footer .footer__top ul {
  height: 90px;
}

footer .footer__top ul .nav-item {
  -ms-flex-preferred-size: 25;
      flex-basis: 25;
}

footer .footer__top ul .nav-item .nav-link {
  color: #007791;
  padding: 0;
}

footer .footer__top ul .nav-item .nav-link.bold {
  font-weight: 700;
}

footer .footer__top .btn-group {
  display: block;
}

footer .footer__top .btn-group .button--dropup {
  min-width: 160px;
}

footer .footer__top .btn-group .button--dropup i {
  padding: 0 5px;
}

footer .footer__top .btn-group .button--dropup::after {
  margin-left: 30%;
}

footer .footer__top .btn-group .button--dropup:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer .footer__top .btn-group .dropdown-menu {
  font-size: 13px;
}

@media screen and (max-width: 500px) {
  footer .footer__top ul {
    height: 112px;
    margin-bottom: 20px;
  }
}

footer .footer__bottom {
  width: 90%;
  margin: 30px auto;
}

footer .footer__bottom img {
  width: 110px;
  margin-right: 10px;
}

footer .footer__bottom .logo-black {
  display: inline-block;
}

footer .footer__bottom .logo-white {
  display: none;
}

footer .footer__bottom .nav-link {
  color: #007791;
  font-size: 13px;
  font-weight: normal;
}

.intro {
  background: linear-gradient(-45deg, #e73838, #6e1a52);
  padding: 20px;
}

.intro .intro__content {
  width: 78%;
  margin: 0 auto;
}

.intro .intro__content .intro__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .intro__content .intro__icon {
  font-size: 50px;
  color: #fff;
  margin-right: 25px;
}

.intro .intro__content .intro__detail p {
  margin-bottom: 0;
}

.intro .intro__content .intro__detail p:first-child {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.intro .intro__content .intro__detail p:last-child {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  .intro .intro__content .intro__icon {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    display: none;
  }
}

.courses {
  margin: 25px 0;
}

.courses .courses__content {
  width: 90%;
  margin: 0 auto;
}

.courses .courses__content .row {
  margin-right: 0;
  margin-left: 0;
}

.courses .courses__content .courses__left {
  background-color: rgba(20, 23, 28, 0.05);
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courses .courses__content .courses__left h2 {
  color: #29303b;
  font-size: 19px;
  font-weight: normal;
}

.courses #myTab {
  margin-bottom: 25px;
}

.courses #myTab .nav-link {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}

.courses #myTab .nav-link:hover {
  border-color: transparent;
  color: #007791;
  font-size: 15px;
  font-weight: normal;
}

.courses #myTab .nav-link.active {
  border: none;
  color: #007791;
  border-bottom: 5px solid #007791;
}

@media screen and (max-width: 1350px) {
  .courses .courses__content .card .card-body .card-title {
    color: #29303b;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .courses .courses__content .courses__left {
    padding: 20px;
  }
}

.viewing {
  padding: 22px 0;
}

.viewing .viewing__content {
  width: 90%;
  margin: 0 auto;
}

.viewing .viewing__content h2 {
  font-size: 18px;
}

.viewing .viewing__content .owl-carousel .owl-nav button.owl-prev {
  left: -2%;
}

.viewing .viewing__content .owl-carousel .owl-nav button.owl-next {
  right: -2%;
}

@media screen and (max-width: 1350px) {
  .viewing .viewing__content .card .card-body .card-title {
    color: #29303b;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.banner {
  background: url("../img/udemy-logo-semi-transparent.svg") 0/30% no-repeat, linear-gradient(61deg, #6e1a52, #76c5d6 41%);
  background-blend-mode: overlay;
  height: 325px;
  text-align: center;
  position: relative;
}

.banner .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner h2 {
  color: #fff;
  font-size: 36px;
  font-weight: normal;
}

.banner p {
  color: #fff;
  margin-bottom: 0;
}

.banner button {
  margin: 10px 0;
}

.banner .row .col-6:first-child {
  text-align: right;
}

.banner .row .col-6:first-child .google__btn {
  margin: 0;
  border-color: transparent;
  border-radius: 10px;
}

.banner .row .col-6:last-child {
  text-align: left;
}

.banner .row .col-6:last-child .apple__btn {
  margin: 0;
  border-color: transparent;
  border-radius: 10px;
}

.categories {
  margin: 32px 0;
}

.categories .categories__content {
  width: 90%;
  margin: auto;
}

.categories .categories__content h2 {
  font-size: 24px;
}

.categories .categories__content .categories__item {
  padding: 15px;
  font-size: 18px;
  border: 1px solid rgba(20, 23, 28, 0.1);
  margin-bottom: 15px;
  cursor: pointer;
}

.categories .categories__content .categories__item:hover {
  -webkit-box-shadow: 0 0 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
          box-shadow: 0 0 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

.students {
  padding: 10px 0;
}

.students .students__content {
  width: 90%;
  margin: 0 auto;
}

.students .students__content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.students .owl-carousel .owl-nav button.owl-prev {
  left: -2%;
}

.students .owl-carousel .owl-nav button.owl-next {
  right: -2%;
}

.partners {
  background-color: #f7f8fa;
  padding: 20px 0;
}

.partners .partners__content {
  width: 70%;
  margin: 0 auto;
}

.partners .partners__content .partners__text {
  text-align: center;
  margin-bottom: 1rem;
}

.partners .partners__content .partners__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .partners .partners__content {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .partners .partners__content {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .partners .partners__content {
    width: 73%;
  }
  .partners .partners__content .partners__imgs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners .partners__content .partners__imgs .partners__item {
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
  }
}

.jobs {
  background-color: #f7f8fa;
}

.jobs .jobs__content .row {
  padding: 10px 0;
}

.jobs .jobs__content .jobs__item {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.jobs .jobs__content .jobs__item h2 {
  color: #505763;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .jobs .border-right {
    border-right: none !important;
  }
}

.sidebarMini {
  position: fixed;
  top: 25%;
  right: 0;
  z-index: 500;
  width: 400px;
  background-color: #dedfe0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  border-left: 1px solid #dedfe0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebarMini .sidebarMini__button {
  color: #29303b;
  background-color: #dedfe0;
  border: 1px solid #dedfe0;
  font-size: 24px;
  font-weight: normal;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 8px 0 0 8px;
  position: fixed;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebarMini .sidebarMini__button:focus {
  outline: none;
}

.sidebarMini .sidebarMini__content {
  text-align: center;
  width: 150px;
  padding: 20px;
}

.sidebarMini .sidebarMini__content h2 {
  font-size: 15px;
}

.sidebarMini .sidebarMini__content .switch {
  width: 50px;
  height: 25px;
  margin: 0 10px;
  position: relative;
}

.sidebarMini .sidebarMini__content .switch input {
  display: none;
}

.sidebarMini .sidebarMini__content .switch input:checked + .slider::before {
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
}

.sidebarMini .sidebarMini__content .switch .slider {
  background-color: #ccc;
  border-radius: 34px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
}

.sidebarMini .sidebarMini__content .switch .slider::before {
  content: "";
  width: 18px;
  height: 18px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebarMini.is-opened {
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
}

.button--white {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 12px;
  cursor: pointer;
}

.button--white:hover {
  color: #29303b;
  background-color: transparent;
  border: 1px solid #29303b;
}

.button--red {
  color: #fff;
  background-color: #e73838;
  border: 1px solid #e73838;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 12px;
  cursor: pointer;
}

.button--red:hover {
  color: #fff;
  background-color: #521822;
  border: 1px solid #521822;
}

.button--dropup {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 10px;
  cursor: pointer;
}

.button--dropup:hover {
  color: #29303b;
  background-color: transparent;
  border: 1px solid #29303b;
}

.cover {
  background-image: url(../img/cover.jpg);
  height: 500px;
  position: relative;
}

.cover::before {
  background-color: rgba(0, 0, 0, 0.37);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.cover .cover__content {
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 12%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cover .cover__content h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}

.cover .cover__content p {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

.cover .cover__content .cover__form .input-group {
  background-color: #fff;
}

.cover .cover__content .cover__form .input-group .form-control {
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

.cover .cover__content .cover__form .input-group .form-control::-webkit-input-placeholder {
  color: #505763;
}

.cover .cover__content .cover__form .input-group .form-control:-ms-input-placeholder {
  color: #505763;
}

.cover .cover__content .cover__form .input-group .form-control::-ms-input-placeholder {
  color: #505763;
}

.cover .cover__content .cover__form .input-group .form-control::placeholder {
  color: #505763;
}

.cover .cover__content .cover__form .input-group .form-control:focus {
  background-color: #fff;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-left-color: #fff;
}

.cover .cover__content .cover__form .input-group .form-control:focus + .input-group-append .input-group-text {
  background-color: #fff;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-right-color: #fff;
  color: #e73838;
}

.cover .cover__content .cover__form .input-group .form-control:focus + .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #e73838;
}

.cover .cover__content .cover__form .input-group .input-group-append .input-group-text {
  background-color: transparent;
  border-color: transparent;
  color: #e73838;
}

.cover .cover__content .cover__form .input-group .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #e73838;
  border-radius: 0;
}

@media screen and (max-width: 768px) {
  .cover .cover__content {
    max-width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .cover .cover__content {
    max-width: 300px;
    left: 10%;
  }
}

.card {
  height: 275px;
}

.card .card-body {
  padding: 1rem;
}

.card .card-body .card-title {
  color: #29303b;
  font-size: 15px;
  font-weight: 600;
}

.card .card-body .card-text {
  color: #686f7a;
  font-size: 12px;
  font-weight: normal;
  margin: 5px 0;
}

.card .card-body .card__stars i {
  color: #F4C150;
  font-size: 12px;
  font-weight: 900;
}

.card .card-body .card__stars .card__rate {
  color: #686f7a;
  font-size: 13px;
  font-weight: 600;
}

.card .card-body .card__stars .card__total {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}

.card .card-body .card__price {
  text-align: right;
  padding: 7px 0;
}

.card .card-body .card__price span:first-child {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
  text-decoration: line-through;
}

.card .card-body .card__price span:last-child {
  color: #29303b;
  font-size: 15px;
  font-weight: 600;
}

.card--feedback {
  height: 280px;
}

.card--feedback .card-body {
  padding: 2rem;
}

.card--feedback .card-body .card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.card--feedback .card-body .card__avatar {
  margin-right: 15px;
}

.card--feedback .card-body .card__avatar img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.card--feedback .card-body .card__name {
  margin-bottom: 0;
}

.card--feedback .card-body .card-text {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}

body.darkMode {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.43;
  color: #9da9bb;
  background-color: #061325;
}

.darkMode .sidebarMini {
  background-color: #152e4d;
  color: #fff;
  border-left-color: #152e4d;
}

.darkMode .sidebarMini .sidebarMini__button {
  background-color: #152e4d;
  border-color: #152e4d;
  color: #F4C150;
}

.darkMode .sidebarMini .sidebarMini__content .switch .slider {
  background-color: #061325;
  -webkit-box-shadow: 0 0 2px 3px #344050;
          box-shadow: 0 0 2px 3px #344050;
}

.darkMode .myNavBar {
  background-color: #0e1c2f;
}

.darkMode .myNavBar__left .navbar-brand .logo-black {
  display: none;
}

.darkMode .myNavBar__left .navbar-brand .logo-white {
  display: inline-block;
}

.darkMode .myNavBar__left .myNavBar__categories {
  color: #9da9bb;
}

.darkMode .myNavBar__left .myNavBar__categories i {
  color: #d8e2ef;
}

.darkMode .myNavBar__left .myNavBar__form-search .input-group {
  background-color: #152e4d;
}

.darkMode .myNavBar__left .myNavBar__form-search .input-group .form-control {
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

.darkMode .myNavBar__left .myNavBar__form-search .input-group .form-control::-webkit-input-placeholder {
  color: #fff;
}

.darkMode .myNavBar__left .myNavBar__form-search .input-group .form-control:-ms-input-placeholder {
  color: #fff;
}

.darkMode .myNavBar__left .myNavBar__form-search .input-group .form-control::-ms-input-placeholder {
  color: #fff;
}

.darkMode .myNavBar__left .myNavBar__form-search .input-group .form-control::placeholder {
  color: #fff;
}

.darkMode .myNavBar__left .myNavBar__form-search .input-group .form-control:focus {
  background-color: #132238;
  border-top-color: #344050;
  border-bottom-color: #344050;
  border-left-color: #344050;
}

.darkMode .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-append .input-group-text {
  background-color: #132238;
  border-top-color: #344050;
  border-bottom-color: #344050;
  border-right-color: #344050;
  color: #e73838;
}

.darkMode .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #e73838;
}

.darkMode .myNavBar__left .myNavBar__form-search .input-group .input-group-append .input-group-text {
  background-color: transparent;
  border-color: transparent;
  color: #e73838;
}

.darkMode .myNavBar__left .myNavBar__form-search .input-group .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #e73838;
  border-radius: 0;
}

.darkMode .myNavBar__right .navbar-nav .nav-item {
  border: 1px solid transparent;
}

.darkMode .myNavBar__right .navbar-nav .nav-item .nav-link {
  color: #d8e2ef;
}

.darkMode .myNavBar__right .navbar-nav .nav-item:hover {
  background-color: #152e4d;
  border: 1px solid #344050;
}

.darkMode .myNavBar__right .navbar-nav .nav-item .overlay {
  background-color: #0e1c2f;
  border: 1px solid #344050;
}

.darkMode .myNavBar__right .navbar-nav .nav-item .overlay::before {
  background-color: #0e1c2f;
  border-top: 1px solid #344050;
  border-left: 1px solid #344050;
}

.darkMode .myNavBar__right .navbar-nav .myNavBar__buttons:hover {
  background-color: transparent;
  border-color: transparent;
}

.darkMode .navbar-toggler {
  background-color: #d8e2ef;
}

.darkMode .button--white:hover {
  color: #d8e2ef;
  background-color: #152e4d;
  border: 1px solid #344050;
}

.darkMode .button--red:hover {
  color: #fff;
  background-color: #bb2a44;
  border: 1px solid #bb2a44;
}

.darkMode .button--dropup {
  color: #d8e2ef;
  background-color: #152e4d;
  border: 1px solid #344050;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 10px;
  cursor: pointer;
}

.darkMode .button--dropup:hover {
  color: #d8e2ef;
  background-color: #132238;
  border: 1px solid #344050;
}

.darkMode .courses .courses__content .courses__left {
  background-color: #132238;
}

.darkMode .courses .courses__content .courses__left h2 {
  color: #d8e2ef;
}

.darkMode .courses .courses__content #myTab .nav-link {
  color: #9da9bb;
}

.darkMode .courses .courses__content #myTab .nav-link.active {
  background-color: #152e4d;
  color: #d8e2ef;
}

.darkMode .courses .courses__content #myTab .nav-link:hover {
  color: #d8e2ef;
}

.darkMode .courses .courses__content #myTab .nav-link .nav-tab {
  border-bottom-color: #344050;
}

.darkMode .card {
  background-color: #152e4d;
  border: 1px solid #dee2e6;
}

.darkMode .card .card-body .card-title {
  color: #d8e2ef;
}

.darkMode .card .card-body .card-text {
  color: #9da9bb;
}

.darkMode .card .card-body .card__stars .card__rate {
  color: #d8e2ef;
}

.darkMode .card .card-body .card__stars .card__total {
  color: #9da9bb;
}

.darkMode .card .card-body .card__price span:first-child {
  color: #9da9bb;
}

.darkMode .card .card-body .card__price span:last-child {
  color: #d8e2ef;
}

.darkMode .card--feedback {
  background-color: #0e1c2f;
}

.darkMode .card--feedback .card-body .card__name {
  color: #d8e2ef;
}

.darkMode .categories .categories__content h2 {
  color: #d8e2ef;
}

.darkMode .categories .categories__content .categories__item {
  background-color: #152e4d;
  border-color: #344050;
  -webkit-box-shadow: 0 3px 1px 0 #152e4d;
          box-shadow: 0 3px 1px 0 #152e4d;
}

.darkMode .categories .categories__content .categories__item:hover {
  -webkit-box-shadow: 0 0 3px 2px #152e4d;
          box-shadow: 0 0 3px 2px #152e4d;
}

.darkMode .students {
  background-color: #132238;
}

.darkMode .students .students__content h2 {
  color: #d8e2ef;
}

.darkMode .partners {
  background-color: #132238;
}

.darkMode .jobs {
  background-color: #132238;
}

.darkMode .jobs .jobs__content .jobs__item h2 {
  color: #d8e2ef;
}

.darkMode .jobs .jobs__content .border-right {
  border-right: 1px solid #344050 !important;
}

.darkMode footer .footer__top ul .nav-item .nav-link {
  color: #d8e2ef;
}

.darkMode footer .footer__top .btn-group .dropdown-menu {
  background-color: #132238;
  border-color: #344050;
}

.darkMode footer .footer__top .btn-group .dropdown-menu .dropdown-item {
  color: #d8e2ef;
}

.darkMode footer .footer__top .btn-group .dropdown-menu .dropdown-item:hover {
  background-color: #152e4d;
}

.darkMode footer hr {
  background-color: #344050;
}

.darkMode footer .footer__bottom .logo-black {
  display: none;
}

.darkMode footer .footer__bottom .logo-white {
  display: inline-block;
}

.darkMode footer .footer__bottom .nav-link {
  color: #d8e2ef;
}

.darkMode footer .footer__bottom span {
  color: #d8e2ef;
}
/*# sourceMappingURL=main.css.map */