// .backgroundImg {
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
// }

// Placeholder
%backgroundImg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}