.categories {
    margin: $mg-4 + 2 0;
    .categories__content {
        width: 90%;
        margin: auto;
        h2 {
            font-size: $fs-5;
        }
        .categories__item {
            padding: $pd-1;
            font-size: $fs-3;
            border: 1px solid $color-black-1;
            margin-bottom: $mg-3 + 5;
            cursor: pointer;
            &:hover {
                box-shadow: 0 0 1px $color-black-1,
                            0 3px 1px 0 $color-black-1;
            }
        }
    }
}