.courses {
    margin: $mg-1 0;
    .courses__content {
        width: 90%;
        margin: 0 auto;
        
        .row {
            margin-right: 0;
            margin-left: 0;
        }

        .courses__left {
            background-color: $color-gray-1;
            padding: 0 2rem;
            display: flex;
            align-items: center;
            //Khi chỉ có 1 thẻ con trực tiếp thì mới dùng flex để căn chỉnh
            h2 {
                @include styleText($color-black-0, $fs-3 + 1, $fw-0);
            }
        }
    }

    #myTab {
        margin-bottom: $mg-1;
        .nav-link {
            color: $color-black-0;
            font-size: $fs-0;
            font-weight: $fw-0;
            &:hover {
                border-color: transparent;
                @include styleText($color-blue-0, $fs-0, $fw-0);
            }
            &.active {
                border: none;
                border-bottom: 5px solid $color-blue-0;
            }
        }
    }
}

