.viewing {
    padding: $pd-3 + 2 0;
    .viewing__content {
        width: 90%;
        margin: 0 auto;
        h2 {
            font-size: $fs-3;
        }
        .owl-carousel .owl-nav button.owl-prev {
            left: -2%;
        }
        .owl-carousel .owl-nav button.owl-next {
            right: -2%;
        }
    }

    @include responsive("screen-1") {
        .viewing__content {
            .card {
                .card-body {
                    .card-title {
                        @include styleText($color-black-0, $fs-1, $fw-1);
                        margin-bottom: $mg-3;
                    }
                }
            }
        }
    }
}